@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


section{
    width: 100%;
}

section{
    top: 15vh;
}

section .title h1{
    font-size: 3.5rem;
}

section .title p{
    font-size: 1rem;
    letter-spacing: 2px;
}

section .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
}

section .details img{
    margin-left: 22vh;
    width: 63%;
}

section .details h1{
    color: #ffff;
}

section .details h2{
    font-size: 1.5rem;
    color: #ffffff80;
}

.details p{
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #ffff;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3rem;
}
