@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

header{
    background-color: #333;
    width: 100%;
}

*{
    text-decoration: none;
    list-style: none;
}

header nav{
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo{
    width: 107px;
    height: 35px;
}

header ul{
    gap: 51px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Jaldi", sans-serif;
}

header nav > :nth-child(3) i{
    font-size: 24px;
    color: #FF7676;
}

header .account > :first-child{
    display: flex;
    gap: 10px;
}


header .account h3{
    font-size: 14px;
    font-weight: 600;
}

header .account > :last-child{
    display: flex;
    gap: 10px;
}


header .account img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

header a{
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 1024px) {
    header nav .logo img{
        width: 77px;
    }

    header ul{
        gap: 29px;
    }

    header .gap-5 {
        gap: 1rem !important;
    }

    header nav > :last-child i {
        font-size: 19px;
    }

    header .account img {
        width: 35px;
        height: 35px;
    }

    header a {
        font-size: 18px;
    }
}


