@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    padding: 32px;
    background-color: black;
}

header i{
    font-size: 24px;
    color: #FF7676;
}

header a{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.7px;
    font-family: "Poppins", sans-serif;
}

header nav > :nth-child(2){
    gap: 63px;
}

header nav h3{
    font-size: 18px;
    font-family: "Popins", sans-serif;
    font-family: 600;
}

.navbar {
    background-color: transparent;
  }
  
  .navbar-nav {
    margin: auto;
    text-align: center;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px; /* Adjust spacing between navigation items */
  }
  
  .navbar-nav .nav-link {
    color: white !important; /* Set text color to white */
  }

  @media screen and (max-width: 1024px){

    .d-flex {
        display: flex;
    }
    
    header .account > :first-child , .account > :nth-child(2){
      display: none !important;
    }

    header .account h3{
        display: none;
    }

    header .account img{
        max-width: 45px !important;
        width: 45px;
    }
  }

  @media screen and (max-width: 768px){
    header nav .container-fluid div > :last-child{
      justify-content: center;
    }

    header .account > :first-child , .account > :nth-child(2){
        display: flex !important;
      }
  
      header .account h3{
          display: flex;
      }

      header .account{
        margin-top: 20px;
      }

      header .account img{
          margin-top: -10px;
      }
  }

  @media screen and (max-width: 375px) {
    header .account{
        width: 100% !important;
        flex-direction: column;
        justify-content: center;
    }

    header .account > :nth-child(2){
        display: none !important;
    }

    header .account > :first-child{
        margin-left: 80px;
        margin-top: 20px;
    }
  }
  